body
{
	background: gray;

}

label
{
	display:inline;
}

table.provider tr:hover
{
	background-color: #ABABAB;
}

.tablapersonal
{
	border-radius : 20px;
}

.redondoysombra
{
	-webkit-box-shadow:  1px 1px 1px 1px rgba(5, 5, 5, 5);
     box-shadow:  1px 1px 1px 1px rgba(5, 5, 5, 5);	
     
    -webkit-border-radius: 10px ;
    border-radius: 10px;
	
}

#listfactoryTanks
{
	/*width:800px;*/
	height: 150px;
	border:1px solid black;
}

.selected
{
	background-color: #0099FF;
	
}


.noselected
{
	background-color: white;
}

.factoryTankNoSelected
{
	color: white;
	width: 150px;
	height: 120px;
	background-color: #3333FF;
	border: 1px solid blue;
	float: left;
	margin: 5px 5px 5px 5px;
}


.factoryTankSelected
{
	color: black;
	width: 150px;
	height: 120px;
	background-color: #00FF33;
	border: 1px solid blue;
	float: left;
	margin: 5px 5px 5px 5px;
}

.factoryTankBloqued{
	
	color: black;
	width: 150px;
	height: 120px;
	background-color: red;
	border: 1px solid blue;
	float: left;
	margin: 5px 5px 5px 5px;
	
	
}




#pasteurizatorstate
{
	font-size: 25px;
	font-style: bolt;
	color: black;
	
}

#pasteurizatortemperature
{
	font-size: 30px;
	font-style: bolt;
	color: red;
}


#tableIngredient
{
	float: right;
}



.icono
{
	width:20px;
	height:20px;
	margin-left:5px;
	
}


h1
{
	color: gray;
	font-size: 50px;
}

.separador
{
	height: 30px;
}


p.head
{
	font-size: 40px;
	
	
}

.formulario-center
{
	width: 400px;
	margin: 0 auto 0 auto;
	
}


.contenedor
{
	
	background-color: white;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.panelAdmin
{
	width: 100px;
	heigh: 100px;
	border-radius: 20px;
}

#tablehome td button
{
	height:150px;
	width:130px;
	border-radius: 20px;
}

#tablehome td button img
{
	height:100px;
	width:100px;
}


.logohead
{
	float:right;;
	height:50px;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}

.inputwidth
{
	width: 25px;
}

#modalHowLiters{
	background: #FFFFCA;
	width: 600px;
	border: 1px solid black;
	position: absolute;
	top: 20%;
	left: 30%;
	
}

.inputfactory{
	width:80px;
	margin-left: 25px;
}

.yellow{
	color: yellow;
	font-size:40px;
}

